---
import Layout from "../layouts/Layout.astro";

import config from "../medical-id.config";

const loadedConfig = await config();

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header>
		<h1>Hello There</h1>
	</header>

	<main>
		<p>General Kenobi</p>
	</main>
</Layout>
